In [3]:
import pandas as pd
import numpy as np

In [26]:
A=np.random.randint(91,95,12).reshape(6,2)
A

array([[91, 94],
       [92, 94],
       [94, 94],
       [93, 93],
       [92, 93],
       [93, 93]])

In [27]:
Outside_Index=['FCB','FCB','FCB','PSG','PSG','PSG']
Outside_Index

['FCB', 'FCB', 'FCB', 'PSG', 'PSG', 'PSG']

In [28]:
Inside_Index=['Forward','Midfielder','Defence','Forward','Midfielder','Defence']
Inside_Index

['Forward', 'Midfielder', 'Defence', 'Forward', 'Midfielder', 'Defence']

In [29]:
i=list(zip(Outside_Index,Inside_Index))
i

[('FCB', 'Forward'),
 ('FCB', 'Midfielder'),
 ('FCB', 'Defence'),
 ('PSG', 'Forward'),
 ('PSG', 'Midfielder'),
 ('PSG', 'Defence')]

In [30]:
index=pd.MultiIndex.from_tuples(i)

In [31]:
B=pd.DataFrame(A,index)
B

                 0   1
FCB Forward     91  94
    Midfielder  92  94
    Defence     94  94
PSG Forward     93  93
    Midfielder  92  93
    Defence     93  93

In [42]:
C=pd.DataFrame({'TEAM':['FCB','FCB','FCB','PSG','PSG','PSG'],'FOOT':['Left','Right','Left','Right','Left','Right'], 'POSITION':['Forward','Defence','Forward','Defence','Forward','Defence'],'RATINGS':np.random.randint(91,95,6)})
C

  TEAM   FOOT POSITION  RATINGS
0  FCB   Left  Forward       94
1  FCB  Right  Defence       91
2  FCB   Left  Forward       93
3  PSG  Right  Defence       94
4  PSG   Left  Forward       94
5  PSG  Right  Defence       92

In [44]:
C.pivot_table(values='RATINGS',index=['TEAM','FOOT'],columns='POSITION')

POSITION    Defence  Forward
TEAM FOOT
FCB  Left       NaN     93.5
     Right     91.0      NaN
PSG  Left       NaN     94.0
     Right     93.0      NaN